@model CatalogItemViewModel

  <div class = "ui card" >

    <div class = "image">
      <img class = "ui centered small rounded image" src="
  http://www.rolleiclub.com/cameras/tlr/im/031_Rolleiflex_T_1958-xxxx.jpg
    " />
    </div>

    <div class="content">
      <h4 class="ui header">@Model.Name</h5>
      <h5 class="ui sub header">Price</h5>
      <span>$@Model.Price.ToString("N2")</span>
    </div>
 
    <button id="product-item" data-product-id="@Model.Id" class="add-to-cart">AddToCart</button>

  </div>

