@model CatalogItemViewModel

<form asp-controller="Basket" asp-action="AddToBasket">
  <img class="ui image" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Rollei_35_S.jpg" />

  <button class="ui secondary basic button" type="submit">Add to Cart</button>

  <div class="catalog-name">
    <span>@Model.Name</span>
  </div>

  <div class="price">
    <span>@Model.Price.ToString("N2")</span>
  </div>

</form>
