@model CatalogItemViewModel

<form asp-controller="Basket" asp-action="AddToBasket">

    <img class="esh-catalog-thumbnail" src="@Model.ImageUrl" />
    <input class="esh-catalog-button" type="submit" value="[ ADD TO BASKET ]" />

    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
</form>
