@model RolleiShop.Features.Catalog.CatalogItemFormViewModel
<h1>File Upload Asp Net Core</h1>
<hr />

@using (Html.BeginForm("Create", "Catalog", FormMethod.Post,
new { enctype = "multipart/form-data" }))
{
  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="field">
    <label asp-for="Name" class="label"></label>
    <input asp-for="Name" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="ShortDescription" class="label"></label>
    <input asp-for="ShortDescription" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="LongDescription" class="label"></label>
    <input asp-for="LongDescription" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="CatalogBrandId" class="label"></label>
    <input asp-for="CatalogBrandId" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="CatalogTypeId" class="label"></label>
    <input asp-for="CatalogTypeId" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="AvailableStock" class="label"></label>
    <input asp-for="AvailableStock" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="Price" class="label"></label>
    <input asp-for="Price" class="control input" type="text"></input>
  </div>

  <div class="form-horizontal">
    <div class="form-group">
      <input type="file" name="ImageUpload" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </div>

}
