@model RolleiShop.Features.Catalog.Edit.Result
<h1>File Upload Asp Net Core</h1>
<hr />

@using (Html.BeginForm("Edit", "Catalog"))
{
  <div asp-validation-summary="All" class="text-danger"></div>

  @Html.HiddenFor(m => m.Id)

  <div class="field">
    <label asp-for="Description" class="label"></label>
    <input asp-for="Description" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="AvailableStock" class="label"></label>
    <input asp-for="AvailableStock" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="Price" class="label"></label>
    <input asp-for="Price" class="control input" type="text"></input>
  </div>

    <div class="form-group">
      <button type="submit" class="btn btn-info">Submit</button>
  </div>
}
