@model BasketComponentViewModel
@{
    ViewData["Title"] = "My Basket";
}

<a class="basketstatus"
  asp-area=""
  asp-controller="Basket"
  asp-action="Index">
  <div>
      <i class="black big cart icon"></i>
    </div>
    <div class="basketstatus-badge">
      @Model.ItemsCount
    </div>
</a>
