@{
    ViewData["Title"] = "Home Page";
}

    <div class="ui container center aligned" style="padding:40px;">
      <div class = "ui huge header"> Welcome to RolleiShop </div>
    </div>

    <div class="ui vertical masthead center aligned segment">
      <img class="rellax" data-rellax-speed="2" style="
        filter:brightness(70%);
        background-attachment: fixed;
        background-position: top;
        height:36em; 
        width:100%; 
        position:relative;
        max-width:100%; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-image:url(/images/rollei.jpg);"/>

      <div class="ui container">
        <div class="ui stackable centered internally celled grid">
          <div class="eight wide column">
            <div id="dvMap" style="width: 100%; height: 350px"></div>
          </div>
          <div class="eight wide column">
            <div>
              <p>This is an MVC application demonstrating a basic ecommerce
                shop with in ASP.NET Core 2.0, EF Core 2.0, Identity 2.0,
                Stripe, and a slew of libraries. The backend follows a
                DDD/CQRS-esque Architecture thanks to Mediatr. I built this
                using many of the Microsoft sample projects and tutorials as
                well as many other online resources. </p>

              <p>The name Rollei, refers to the German camera manufacturer,
                makers of the famous Rolleiflex cameras. Rollei happens to be
                my favorite camera brand, having owned several Rollei 35's
                and Rolleiflex TLRs.</p>

              <p>The map points to Map Camera loked in Shinjyuko, Tokyo. Map
                Camera is one of the finest camera stores for new and used
                camera gear.</p>
            </div>
          </div>
        </div>
    </div>

@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.5.0/rellax.min.js"></script>
  <script>
    var rellax = new Rellax('.rellax');
  </script>
}
