@{
    ViewData["Title"] = "Home Page";
}
  <style type="text/css">

    .masthead.segment {
      padding: 1em 0em;
      margin-right: 1em;
      margin-left: 1em;
    }

    .masthead h1.ui.header {
      margin-top: 1em;
      margin-bottom: 0em;
      font-size: 1.7em;
      font-weight: normal;
    }

    .masthead .image.full{
      display: block;
    }

    .masthead .image.mobile {
      display: none;
    }

    .ui.fluid.image.full.parallax {
      height: 32em;
    }
    .ui.fluid.image.full.parallax {
      background-attachment: fixed;
      background-position: center;
    }
    .ui.fluid.image.full.parallax{
      width: 100%;  
    }

    .ui.fluid.image.mobile.parallax {
      height: 32em;
    }
    .ui.fluid.image.mobile.parallax {
      background-attachment: fixed;
      background-position: center;
    }
    .ui.fluid.image.mobile.parallax{
      width: 100%;  
    }


    @@media only screen and (max-width: 700px) {

      .ui.secondary.menu .item ,
      .ui.secondary.menu .right.item{
        display: none;
      }

      .ui.secondary.menu .logo,
      .ui.secondary.menu .toc.item {
        display: block;
      }

      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 1em;
        margin-top: 0.5em;
      }

      .masthead .image.full{
        display: none;
      }

      .masthead .image.mobile{
        display: block;
      }

  </style>

  <div class="ui container center aligned" style="padding:40px;">
    <h2> Welcome to RolleiShop </h2>
  </div>

  <div>
    <div class="ui vertical masthead center aligned segment">
      <div class="ui fluid image full parallax" style="display: none;" data-imgsrc="/images/rollei.jpg"></div>
      <div class="ui fluid image mobile parallax" style="display: block;" data-imgsrc="/images/rollei.jpg"></div>
    </div>
  </div>

 <script>
    
    // semantic's module function
    $.fn.uiParallax = function(){
      
      $(this).each(function(){
        var imageUrl = $(this).data('imgsrc');
        $(this).css('background-image', 'url(' + imageUrl + ')');
      });
      
    };
    
    
    // user's code to initialise parallaxes
    $('.ui.parallax').uiParallax();
    
  </script> 
