@{
    ViewData["Title"] = "Home Page";
}

    <div class="ui container center aligned" style="padding:40px;">
      <div class = "ui huge header"> Welcome to RolleiShop </div>
    </div>

    <div class="ui vertical masthead center aligned segment">
      <img class="rellax" data-rellax-speed="2" style="
        filter:brightness(70%);
        background-attachment: fixed;
        background-position: top;
        height:36em; 
        width:100%; 
        position:relative;
        max-width:100%; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-image:url(/images/rollei.jpg);"/>

      <div class="ui container">
        <div id="dvMap" style="width: 750px; height: 500px">
      </div>
    </div>

@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.5.0/rellax.min.js"></script>
  <script>
    var rellax = new Rellax('.rellax');
  </script>
}
