@model RolleiShop.Features.CatalogManager.Delete.Command
@{
    ViewBag.Title = "Delete";
}

<main class="ui text container">
  <h2 class="header">Are you sure you want to remove this item from the catalog?</h2>
  <div class="ui divider"/>
  </br>
<div class="ui list">
  <div class="item">
    <div class="header">Camera</div>
      @Html.DisplayFor(model => model.Name)
  </div>
  </br>
  <div class="item">
    <div class="header">Brand</div>
      @Html.DisplayFor(model => model.BrandId)
  </div>
  </br>
  <div class="item">
    <div class="header">Format</div>
      @Html.DisplayFor(model => model.TypeId)
  </div>
</div>
  </br>
  <form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="ui button" /> |
    <a asp-action="Index">Back to List</a> 
  </form>
</main>
