@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


 <div class="ui main container">
  <h2>@ViewData["Title"]</h2>
    <div class="ui middle aligned stackable grid">
        <div class="six wide column">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post"
              class="ui form">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="field">
                    <label asp-for="Email"></label>
                    <input asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Password"></label>
                    <input asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="ui button outlined">Register</button>
            </form>
        </div>
    </div>
  </div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
