@{
    ViewData["Title"] = "Error";
}

<div class="ui inverted vertical masthead center aligned segment"
  style="margin-top:2em;">
  <div class="ui text container">
    <h1 class="ui huge inverted header">
      Error
    </h1>
    <h2 class="ui inverted header">
      An error occurred while processing your request.
    </h2>
  </div>
</div>
