@using Microsoft.AspNetCore.Identity
@using RolleiShop.Models.Entities
@using RolleiShop.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

  <div class="text" class="item">
      @UserManager.GetUserName(User)
  </div>

  <a asp-controller="Orders" asp-action="Index" title="Manage" class="item">
       My Orders
  </a>

  @if (User.IsInRole("Admin")) 
  {
    <a asp-controller="ManageCatalog" asp-action="Index" class="item">Manage</a>
  }

  <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" >
    <div class="fluid item">
      <button type="submit" class="ui button basic">Log out</button>
    </div>
  </form>
}
else
{
  <div class="fluid item">
    <a asp-area="" class="item" asp-controller="Account" asp-action="Register">Register</a>
    <a asp-area="" class="ui button basic" asp-controller="Account" asp-action="Login">Log in</a>
  </div>
}
