export PROJECT_HOME="$HOME/DotNetProjects/RolleiShop/src"
export ASPNETCORE_ENVIRONMENT=Development

export ASPNETCORE_TEST_KEY=pk_test_qiltXK59zTk1xGkt4vkDEHk6
export ASPNETCORE_SECRET_KEY=sk_test_JcS77QUmJ6hMLt8hOjVUoyhC

export AppSettings__AdminEmail="admin@email.com"
export AppSettings__AdminPassword="P@ssw3rd!"

export ConnectionStrings__Redis="172.17.0.5:6379"
export ConnectionStrings__RolleiShop="Server=172.17.0.2;Port=5432;Database=RolleiShop;User ID=postgres;Password=P@ssw0rd!;"
export ConnectionStrings__Identity="Server=172.17.0.2;Port=5432;Database=RolleiShopIdentity;User ID=postgres;Password=P@ssw0rd!;"

export Email__SenderName="Maikeulb"
export Email__SenderEmail="maikeulbgithub@gmail.com"
export Email__Account="maikeulbgithub"
export Email__Password="P@ssw3rd!!"
