@model RolleiShop.Features.CatalogManager.Create.Command


<main class="ui text container">
  <div class = "ui huge header"> Add to Inventory </div>
  <a asp-action="Index">Back to List</a> 
  <hr />

  <img id="target" src="http://placehold.it/300" alt="your image" class="ui
  medium image" />
  <div style="padding-top:20px"/>

  <form method="post" enctype="multipart/form-data"
    asp-controller="CatalogManager" asp-action="Create" class="ui form create">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label class="ui basic button">
      Choose File 
      <input name="ImageUpload" class="imgInp" type="file" style="display: none"/>
    </label>

    <div class="field">
      <label asp-for="Name" class="label"></label>
      <input asp-for="Name" type="text"></input>
    </div>

    <div class="field">
      <label asp-for="Description" class="label"></label>
      <textarea  asp-for="Description" type="text"></textarea>
    </div>

    <div class="field">
      <label asp-for="BrandId"></label>
        <select asp-for="BrandId" asp-items="ViewBag.BrandId">
          <option value="">-- Select Brand --</option>
        </select>
    </div>

    <div class="field">
      <label asp-for="TypeId"></label>
        <select asp-for="TypeId" asp-items="ViewBag.TypeId">
          <option value="">-- Select Type --</option>
        </select>
    </div>

    <div class="field">
      <label asp-for="Stock" class="label"></label>
      <input asp-for="Stock" type="number"></input>
    </div>

    <div class="field">
      <label asp-for="Price" class="label"></label>
      <input for="Price" asp-for="Price" type="number"></input>
    </div>

    @if (User.IsInRole("Admin"))
    {
      <button type="submit" class="ui primary button">Submit</button>
    }
    else
    {
      <button type="submit" class="ui disabled button">Submit</button>
    }

  </form>

@section scripts
{
  <script>
    $(document).ready(function(){
      $('.ui.form.create')
        .form({
          fields: {
            ImageUpload : 'empty',
            Name        : 'empty',
            Description : 'empty',
            BrandId     : 'empty',
            TypeId      : 'empty',
            Stock       : 'integer',
            Price       : 'empty'
          }
        })
      ;
    });
  </script>
}
