@model RolleiShop.Features.ManageCatalog.Create.Command
<h1>File Upload Asp Net Core</h1>
<hr />

<form method="post" enctype="multipart/form-data"
  asp-controller="ManageCatalog" asp-action="Create">
  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="field">
    <label asp-for="Name" class="label"></label>
    <input asp-for="Name" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="Description" class="label"></label>
    <input asp-for="Description" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="CatalogBrandId" class="label"></label>
    <input asp-for="CatalogBrandId" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="CatalogTypeId" class="label"></label>
    <input asp-for="CatalogTypeId" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="AvailableStock" class="label"></label>
    <input asp-for="AvailableStock" class="control input" type="text"></input>
  </div>

  <div class="field">
    <label asp-for="Price" class="label"></label>
    <input asp-for="Price" class="control input" type="text"></input>
  </div>

  <div class="form-horizontal">
    <div class="form-group">
      <input type="file" name="ImageUpload" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </div>
  </form>
