export PROJECT_HOME="$HOME/DotNetProjects/RolleiShop/src"
export ASPNETCORE_ENVIRONMENT=Development
export ASPNETCORE_ENVIRONMENT=pk_test_qiltXK59zTk1xGkt4vkDEHk6
export ASPNETCORE_ENVIRONMENT=sk_test_JcS77QUmJ6hMLt8hOjVUoyhC

