export PROJECT_HOME="$HOME/DotNetProjects/RolleiShop/src"
export ASPNETCORE_ENVIRONMENT=Development
export ASPNETCORE_TEST_KEY=pk_test_qiltXK59zTk1xGkt4vkDEHk6
export ASPNETCORE_SECRET_KEY=sk_test_JcS77QUmJ6hMLt8hOjVUoyhC

